* {
    margin: 0;
    font-family: sans-serif;
}

/*HEADER*/

body {
    background-color: #cfcfcf;
}

.header {
    background-color: #002738;
    height: 10vh;
    display: flex;
    justify-content: center;
    padding: 15px;
}

.son-casper-header{
    padding: 5px;
    display: flex;
}

.casper-header{
    width: 75%;
    display: flex;
    justify-content: space-between;
}

.header-img{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-img img {
    width: 48px;
    height: 48px;
}

.title-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title-header p{
    color: #889aa2;
    font-weight: 900;
    font-size: 14px;
    padding: 0 0 0 15px;
}


.close-sesion{
    display: flex;
    align-items: center;
}

.close-sesion a {
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    background-color: rgb(148, 36, 36);
    padding: 7px;
}

/*MAIN*/

.main {
    padding: 10px;
}

/*SECTION-TABLE*/

.section-table{
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
}

/*ARTICLES*/

.article-form{
    width: 20%;
}

.title-form{
    margin-bottom: 10px;
    background-color: #002738;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-form h2 {
    font-weight: 500;
    padding: 10px;
    color: #fff;
}

.content-form{
    width: 100%;
}

.form {
    background-color: #fff;
    padding: 0 10px 0 10px;
    margin-bottom: 10px;
}

.casper-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-select{
    width: 100%;
}



.content-select p {
    text-align: center;
    padding: 7px;
    font-weight: bold;
}


select{
    font-size: 17px;
    border: none;
    background-color: rgb(216, 216, 216);
    padding: 10px;
    width: 100%;
}


.content-input{
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-bottom: 10px;
}

.content-input p {
    font-weight: bold;
    padding: 5px;
    text-align: center;
}

.form-input{
    padding: 14px;
    background-color: rgb(216, 216, 216);
    border: none;    
    font-size: 17px;
}


.submit{
    margin-top: 10px;
    padding: 10px;
    background-color: #002738;
    border: none;
    color: #fff;
    font-size: 17px;
}

.submit:hover{
    background-color: #00141d;
    cursor: pointer;
}


/*ARTICLE CONTENT TABLE*/

.article-table{
    width: 78%;
}


@media (max-width: 1018px){
    .article-table{
        width: 100vw;
    }

    .article-form{
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-evenly;
    }

    .content-form{
        width: 40%;
    }

}

/*ESTILOS DE LA TABLA*/


.content-filter-form{
    background-color: #fff;
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-end;
    height: 60px;
}

.content-filter-form form {
    display: flex;
    justify-content: space-evenly;
    width: 400px;
    padding: 10px;
}

.content-filter-form form input {
    background-color: #002738;
    border: none;
    color: #fff;
    font-size: 18px;
    width: 80px;
}

.content-filter-form select {
    width: 300px;
}

.header_table{
    background-color: #002738;
    display: flex;
    height: 40px;
}

.header_table p {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}

.body_table{
    display: flex;
    background-color: rgb(255, 255, 255);
}

.body_table p{
    width: 100%;
    text-align: center;
    font-size: 17px;
    padding: 8px;
    color: rgb(65, 65, 65);
}


.body_table:nth-child(odd){
    background-color: #e8e8e8;
}


